.modal {
	  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
/*
  width: max(400px, min(65%, 800px));
  height: auto;
  /* */
  width: 80%;
  height: 80%;
  animation: slideDown 2s ease-out;
   background-color: rgba(0,0,0,0.25);
}
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  animation: slideIn 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}