<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamerparadise.dao.mapper.AccountDAOMapper">
    <resultMap id="OrderResultMap" type="OrderDAODTO">
        <id property="orderId" column="order_id"/>
        <result property="username" column="username"/>
        <result property="orderStatus" column="order_status"/>
        <result property="totalPurchasePrice" column="total_purchase_price"/>
        <result property="createTime" column="create_time"/>
        <result property="checkoutTime" column="checkout_time"/>
        <result property="refundTime" column="refund_time"/>
        <collection property="items" ofType="OrderItemDAODTO" resultMap="OrderItemResultMap"/>
    </resultMap>
    <resultMap id="OrderItemResultMap" type="OrderItemDAODTO">
        <id property="orderItemId" column="order_item_id"/>
        <result property="orderId" column="order_item_id_order_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="franchiseName" column="franchise_name"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="quantity" column="quantity"/>
    </resultMap>
    <resultMap id="PurchasedItemResultMap" type="PurchasedItemDAODTO">
        <result property="username" column="username"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productType" column="product_type"/>
        <result property="franchiseId" column="franchise_id"/>
        <result property="franchiseName" column="franchise_name"/>
    </resultMap>

    <select id="getOrder" parameterType="String" resultMap="OrderResultMap">
        SELECT
            orders.order_id,
            users.username,
            orders.order_status,
            orders.total_purchase_price,
            orders.create_time,
            orders.checkout_time,
            orders.refund_time,
            order_items.order_item_id,
            order_items.order_id as order_item_id_order_id,
            order_items.product_id,
            order_items.product_name,
            order_items.franchise_name,
            order_items.purchase_price,
            order_items.quantity
        FROM orders
        LEFT JOIN (
            SELECT order_items.*, products.product_name, products.franchise_name FROM order_items 
            JOIN products ON products.product_id = order_items.product_id
        ) order_items ON order_items.order_id = orders.order_id
        JOIN users ON orders.user_id = users.user_id
        WHERE username = #{username} AND orders.order_status = 'PENDING';
    </select>

    <insert id="createOrder">
        INSERT INTO orders (user_id) SELECT users.user_id FROM users WHERE username = #{username};
    </insert>

    <insert id="insertItem">
        INSERT INTO order_items(order_id, product_id, purchase_price, quantity)
        VALUES(#{item.orderId}, #{item.productId}, #{item.purchasePrice}, #{item.quantity});
    </insert>

    <delete id="removeItem">
        DELETE FROM order_items WHERE order_id = #{item.orderId} AND product_id = #{item.productId};
    </delete>

    <update id="closeOrder">
        UPDATE orders SET order_status = #{status}, checkout_time = CURRENT_TIMESTAMP() WHERE order_id = #{orderId};
    </update>

    <insert id="addItemsToAccount">
        INSERT INTO purchased_items (user_id, product_id)
        <foreach collection="items" item="item" separator=" UNION ALL ">
            SELECT user_id, #{item.productId} FROM users WHERE username = #{username}
        </foreach>
        ;
    </insert>

    <select id="getPurchasedItems" parameterType="String" resultMap="PurchasedItemResultMap">
        SELECT users.username, purchased_items.product_id, products.product_name, products.product_type, products.franchise_id, products.franchise_name FROM purchased_items
        JOIN users ON purchased_items.user_id = users.user_id
        JOIN products ON purchased_items.product_id = products.product_id
        WHERE username = #{username} AND products.product_type in ('GAME', 'DLC');
    </select>

    <select id="getOrderHistory" parameterType="String" resultMap="OrderResultMap">
        SELECT
            orders.order_id,
            users.username,
            orders.order_status,
            orders.total_purchase_price,
            orders.create_time,
            order_items.order_item_id,
            order_items.order_id as order_item_id_order_id,
            order_items.product_id,
            order_items.product_name,
            order_items.franchise_name,
            order_items.purchase_price,
            order_items.quantity
        FROM orders
        LEFT JOIN (
            SELECT order_items.*, products.product_name, products.franchise_name FROM order_items 
            JOIN products ON products.product_id = order_items.product_id
        ) order_items ON order_items.order_id = orders.order_id
        JOIN users ON orders.user_id = users.user_id
        WHERE username = #{username} AND orders.order_status != 'PENDING'
        ORDER BY create_time DESC;
    </select>
</mapper>