<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamerparadise.dao.mapper.AccountDAOMapper">
    <resultMap id="OrderResultMap" type="OrderDAODTO">
        <id property="orderId" column="order_id"/>
        <result property="username" column="username"/>
        <result property="orderStatus" column="order_status"/>
        <result property="totalPurchasePrice" column="total_purchase_price"/>
        <result property="createTime" column="create_time"/>
        <collection property="items" ofType="OrderItemDAODTO" resultMap="OrderItemResultMap"/>
    </resultMap>
    <resultMap id="OrderItemResultMap" type="OrderItemDAODTO">
        <id property="orderItemId" column="order_item_id"/>
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="quantity" column="quantity"/>
    </resultMap>
    <resultMap id="PurchasedItemResultMap" type="PurchasedItemDAODTO">
        <result property="username" column="username"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productType" column="product_type"/>
    </resultMap>

    <select id="getCart" parameterType="String" resultMap="OrderResultMap">
        SELECT
            orders.*,
            order_items.*,
            users.username
        FROM order_items
        JOIN orders ON order_items.order_id = orders.order_id
        JOIN products ON products.product_id = order_items.product_id
        JOIN users ON orders.user_id = users.user_id
        WHERE username = #{username} AND orders.order_status = 'PENDING';
    </select>

    <insert id="createOrder" useGeneratedKeys="true" keyColumn="order_id" keyProperty="orderId">
        INSERT INTO orders (user_id) VALUES (SELECT * FROM users WHERE username = #{username});
    </insert>

    <select id="getOrder">
        SELECT orders.*, users.username FROM orders
        JOIN users ON orders.user_id = users.user_id
        WHERE username = #{username} AND orders.order_status = 'PENDING';
    </select>

    <insert id="insertItem">
        INSERT INTO order_items(order_id, product_id, purchase_price, quantity)
        VALUES(#{item.orderId}, #{item.productId}, #{item.purchasePrice}, #{item.quantity});
    </insert>

    <delete id="removeItem">
        DELETE FROM order_items WHERE order_id = (SELECT order_id FROM orders JOIN users ON orders.user_id WHERE username = #{username} AND status = 'PENDING') AND product_id = #{item.productId};
    </delete>

    <update id="closeCart">
        UPDATE orders SET order_status = #{status} WHERE order_id = #{orderId};
    </update>

    <insert id="addItemsToAccount">
        INSERT INTO purchased_items (user_id, id, name, type)
        VALUES
        <foreach collection="items" item="item" separator=",">
            (SELECT user_id FROM users WHERE username = ${username} LIMIT 1, #{item.id}, #{item.name}, #{item.type})
        </foreach>
        ;
    </insert>

    <select id="getPurchasedItems" parameterType="String" resultMap="PurchasedItemResultMap">
        SELECT users.username, purchased_items.product_id, products.product_name, products.product_type FROM purchased_items
        JOIN users ON purchased_items.user_id = users.user_id
        JOIN products ON purchased_items.product_id = products.product_id
        WHERE username = #{username} AND products.product_type in ('GAME', 'DLC');
    </select>
</mapper>