<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamerparadise.dao.mapper.FranchisesDAOMapper">
    <resultMap id="FranchiseResultMap" type="FranchiseDAODTO">
        <id property="franchiseId" column="franchise_id"/>
        <result property="franchiseName" column="franchise_name"/>
    </resultMap>

    <select id="getFranchises" resultMap="FranchiseResultMap">
        SELECT * FROM franchise;
    </select>

    <select id="getFranchiseByFilters" parameterType="FranchiseDAODTO" resultMap="FranchiseResultMap">
        SELECT * FROM franchise
        <where>
        <if test="franchise.franchiseId != null">
            AND franchise_id = #{franchise.franchiseId}
        </if>
        <if test="franchise.franchiseName != null">
            AND franchise_name = #{franchise.franchiseName}
        </if>
        </where>
        ;
    </select>

    <insert id="insertFranchise" parameterType="FranchiseDAODTO"
        useGeneratedKeys="true" keyColumn="franchise_id" keyProperty="franchiseId">
        INSERT INTO franchises(franchise_name) VALUES(#{franchise.franchiseName});
    </insert>
</mapper>