<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamerparadise.dao.mapper.GameDAOMapper">
    <resultMap id="GameResultMap" type="GameDAODTO">
        <id property="gameId" column="game_id"/>
        <result property="gameName" column="game_name"/>
        <result property="franchiseId" column="franchise_id"/>
        <result property="franchiseName" column="franchise_name"/>
    </resultMap>

    <select id="getGames" parameterType="GameDAODTO" resultMap="GameResultMap">
        SELECT * FROM games WHERE franchise_id = #{franchiseId};
    </select>

    <select id="getGameByFilters" parameterType="GameDAODTO" resultMap="GameResultMap">
        SELECT * FROM games
        <where>
        <if test="game.gameId != null">
            AND game_id = #{gameId}
        </if>
        <if test="game.gameName != null">
            AND game_name = #{gameName}
        </if>
        </where>
        ;
    </select>

    <insert id="insertGame" parameterType="GameDAODTO">
        INSERT INTO games(game_name, franchise_id, franchise_name) VALUES(#{game.gameName}, #{game.franchiseId}, #{game.franchiseName});
    </insert>
</mapper>