<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamerparadise.dao.mapper.ProductsDAOMapper">
    <resultMap id="GameResultMap" type="ProductDAODTO">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="parentProductId" column="parent_product_id"/>
        <result property="productType" column="product_type"/>
        <result property="franchiseId" column="franchise_id"/>
        <result property="franchiseName" column="franchise_name"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="getProducts" parameterType="ProductDAODTO" resultMap="GameResultMap">
        SELECT * FROM products WHERE franchise_id = #{franchiseId};
    </select>

    <select id="getProductByFilters" parameterType="ProductDAODTO" resultMap="GameResultMap">
        SELECT * FROM products
        <where>
        <if test="game.gameId != null">
            AND product_id = #{product.productId}
        </if>
        <if test="game.gameName != null">
            AND product_name = #{product.productName}
        </if>
        </where>
        ;
    </select>

    <insert id="insertGame" parameterType="ProductDAODTO"
        useGeneratedKeys="true" keyColumn="game_id" keyProperty="gameId">
        INSERT INTO products(game_name, franchise_id, franchise_name) VALUES(#{game.gameName}, #{game.franchiseId}, #{game.franchiseName});
    </insert>
</mapper>