QuantumVestigesInstaller/.vs
QuantumVestigesInstaller/bin
QuantumVestigesInstaller/obj

QuantumVestigesInstaller/QuantumVestigesInstaller.exe

QuantumVestigesLauncher/.vs
QuantumVestigesLauncher/bin
QuantumVestigesLauncher/obj